*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

img{
	border:0;
	background-color:inherit;
}
html,body{
	font-family: "微软雅黑";
	position: relative;
	background-color: #ffffff;

}
.main{
    width:16.782609rem;
    height: 7.1rem;
    background: red;
    margin: 0 auto;
}